<header class="header">

	<div class="top-header-menu">
		<div class="top-header-menu__container">

			<div class="top-header-menu__item">

				<div class="contacts">
					<a class="contacts__item" href="tel:+380935338793">+38 (093) 533-87-93</a>
					<a class="contacts__item" href="tel:+380442271775">+38 (044) 227 17 75</a>
					<button class="contacts__item">Заказать звонок</button>
				</div>

			</div>

			<div class="top-header-menu__item">

				<div class="lang-switcher">
					<div class="lang-switcher__item lang-switcher__item-active">ru</div>
					<div class="lang-switcher__item">en</div>
				</div>

			</div>

		</div>
	</div>

	<div class="header__container">
		<div class="bottom-header-menu">

			<div class="bottom-header-menu__container">
				<div class="logo"><img class="logo__image" src="./img/logo/logo.png" alt="Базис"></div>
			</div>

			<div class="bottom-header-menu__container">

				<div class="navigation">
					<a class="navigation__link" href="#">О компании</a>
					<a class="navigation__link" href="#">Услуги</a>
					<a class="navigation__link" href="#">Заказчики </a>
					<a class="navigation__link" href="#">Проекты</a>
					<a class="navigation__link" href="#">Дневник строителя</a>
					<a class="navigation__link" href="#">Контакты</a>
				</div>

				<div class="navigation-mobile">

					<div class="navigation-mobile__container">

						<div class="navigation-mobile__item"><div class="logo"><img class="logo__image" src="./img/logo/logo.png" alt="Базис"></div></div>

						<div class="contacts">
							<a class="contacts__item" href="tel:+380935338793">+38 (093) 533-87-93</a>
							<a class="contacts__item" href="tel:+380442271775">+38 (044) 227 17 75</a>
							<button class="contacts__item text text__400">Заказать звонок</button>
						</div>

					</div>

					<div class="navigation-mobile__container">
						<div class="navigation-mobile__item"><a class="navigation-mobile__link" href="#">О компании</a></div>
						<div class="navigation-mobile__item"><a class="navigation-mobile__link" href="#">Услуги</a></div>
						<div class="navigation-mobile__item"><a class="navigation-mobile__link" href="#">Заказчики</a></div>
						<div class="navigation-mobile__item"><a class="navigation-mobile__link" href="#">Проекты</a></div>
						<div class="navigation-mobile__item"><a class="navigation-mobile__link" href="#">Дневник строителя</a></div>
						<div class="navigation-mobile__item"><a class="navigation-mobile__link" href="#">Контакты</a></div>
					</div>

					<div class="navigation-mobile__container">
						<div class="lang-switcher">
							<div class="lang-switcher__item lang-switcher__item-active">ru</div>
							<div class="lang-switcher__item">en</div>
						</div>
					</div>

					<div class="hamburger">
						<span class="hamburger__item"></span>
						<span class="hamburger__item"></span>
						<span class="hamburger__item"></span>
					</div>
				</div>

			</div>

			<div class="hamburger">
				<span class="hamburger__item"></span>
				<span class="hamburger__item"></span>
				<span class="hamburger__item"></span>
			</div>

		</div>
	</div>


</header>